
<div class="bestSellerContainer">
    <div class="h3">
        <h3>Best Sellers</h3>
    </div>
    <!--
        need to add logic to show only books that are marked as bestSellers.
    -->
    <app-books>
    </app-books>
</div>


<div class="newArrivalsContainer">
    <div class="h3">
        <h3>New Arrivals!</h3>
    </div>
    <!--
        the same thing should be done here that's done for the best sellers
    -->
    <app-books></app-books>
</div>

<!--
    <div class="messageBoardContainer">
        <p>This is some sample text</p>
    </div>
-->    