.h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    text-align: center;
    /*text will need to be placed near top of box*/
}

.bestSellerContainer {
    padding: 15%;
    margin: auto;
    border: 2px solid black;
    /*space is introduced to split box model from other parts*/
    position: absolute;
    left: 0px;
    width: fit-content;
}
/*will need to make website responsive to min/max because
it looks god awful when minimized
*/
.newArrivalsContainer {
    padding: 15%;
    margin: 40% auto;
    border: 2px solid black;
    /*space is introduced to split box model from other parts*/
    position: absolute;
    left: 0px;
    width: fit-content;
}

.messageBoardContainer {
    padding: 15%;
    margin: auto;
    border: 2px solid black;
    
    position: absolute;
    right: 0px;
    width: 100px;
    height: 50%;
}