
.bestSellerContainer {
    padding: 10%;
    margin: auto;
    border: 2px solid black;
    /*space is introduced to split box model from other parts*/
    position: absolute;
    left: 0px;
    width: 100%;
}
/*will need to make website responsive to min/max because
it looks god awful when minimized
*/
.newArrivalsContainer {
    padding: 10%;
    margin: 30% auto;
    border: 2px solid black;
    /*space is introduced to split box model from other parts*/
    position: absolute;
    left: 0px;
    width: 100%;
}

.messageBoardContainer {
    padding: 15%;
    margin: auto;
    border: 2px solid black;
    
    position: absolute;
    right: 0px;
    width: 100px;
    height: 50%;
}