
<div class="bestSellerContainer">
    <div class="h3">
        <h3>Best Sellers</h3>
    </div>
    <!--
        Need to add a Book or Best Sellers class/array to iterate over the best sellars
    -->
    <p>This is some sample text</p>
</div>


<div class="newArrivalsContainer">
    <div class="h3">
        <h3>New Arrivals!</h3>
    </div>
    <!--
        the same thing should be done here that's done for the best sellers
    -->
    <p>This is some sample text</p>
</div>

    
<div class="messageBoardContainer">
    <p>This is some sample text</p>
</div>