<div class="container-styles">
   
    <form class="form-horizontal" [formGroup]="loginForm">
        
        <div class="form-group">
            
            <div class="col-xs-8">
                <label for="userName" class="col-xs-4 control-label" style="text-align:left">Username</label>
                <input type="text" placeholder="Enter Username" name="userName" required>
            </div>
            
            <div class="col-xs-8">
                <label for="passWord">Password</label>
                <input type="password" placeholder="Enter Password" name="passWord" required>
            </div>
            
        </div>
        
    </form>
    
</div>