<div class="books">
    <div class="book" *ngFor="let book of books">
        <p><b>Title: </b>{{book.bookTitle}}</p><!--make two-way data binding at some point
            would allow the specific book clicked on to see all details of it-->
        <p><b>Author: </b>{{book.bookAuthor}}</p><!--same for this-->
        <!--ok so the problem is taht once clicked, it should expand and show details of book. Namely the book description.
        so the set up could be something very similar to the above with the added addition of the button to do so-->
        <div class="btn-text-center">
            <button type="button" class="btn btn-primary" (click)="onClick()">Expand</button>
        </div>
    </div>
</div>